* {
  margin: 0;
  /* margem - espaçamento pra fora do conteúdo */
  padding: 0;
  /* padding - espaçamento pra dentro do conteúdo */
  box-sizing: border-box;
  /* limita o conteudo dentro do meu espaço da tela */
}

.container {
  width: 30rem;
  aspect-ratio: 9 / 16;
  height: 60rem;
  background-color: #000000;
  margin-left: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 2px solid black;
  overflow: hidden;
}

/* para alinhar as imagens */
.container img {
  display: block;
  margin: 0 auto;
}

/* urubu do pix / menu */
.texto {
  width: 100%;
  height: 3rem;
  background: #000000;
  padding: 10px;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
}

/* unidade das neves */
.bolhas {
  position: absolute;
  display: flex;
}

/* modificação de cada neve */
.bolhas span {
  width: 7px;
  height: 7px;
  background-color: white;
  margin: 0 4px;
  border-radius: 50%;
  animation: animar calc(30s / var(--i)) 5s linear infinite;
}

/* a forma em que elas caem de cima para baixo */
@keyframes animar {
  0% {
    transform: translateY(-10vh) scale(0);
  }
  100% {
    transform: translateY(100vh) scale(1);
  }
}

/* config de todos os botões */
button {
  width: 50px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 200ms ease-in-out;
  border-color: rgb(255, 255, 255);
  background: transparent;
  font-family: serif;
  color: #fff;
}

/* transiçãozinha de zoom ao passar o cursor */
button:hover {
  transform: scale(1.1);
}

/* config de todos os h3 */
h3 {
  color: rgb(255, 255, 255);
  font-family: "Bitcount", Prop, Single, Ink;
}

/* Minha imagem */
.img1 {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  justify-content: center;
  display: flex;
}

/* Sobre mim / Texto chamativo */
h2 {
  display: flex;
  color: rgb(255, 255, 255);
  justify-content: center;
  font-family: monospace;
}

/* Minha descrição */
.p1 {
  display: flex;
  color: #fff;
  text-align: center;
  margin: 2rem;
  border-radius: 5px;
  font-family: monospace;
  border: 2px solid #ffffff71;
  padding: 10px;
  margin: 10px;
}

/* texto enganador */
.texto-input {
  text-align: center;
  margin: 2rem;
}

/* input e botão "enviar" levando a outra pagina */
.caixa-texto {
  position: relative;
  height: 2rem;
  display: flex;
  justify-content: center;
}

/* "p" que incentiva a pessoa digitar um valor */
.caixa-texto-2 {
  color: #00ff00;
  display: flex;
  justify-content: center;
  font-family: monospace;
  margin-top: 20px;
}

/* feito para centralizar a imagem da tabela */
.img-tabela {
  display: block;
  margin: 0 auto;
}

/* configuração da imagem da tabela */
.img2 {
  width: 9rem;
  height: 9rem;
  justify-content: center;
  align-items: center;
  display: flex;
}

/* criado para definar a div dos input "radio" */
.div-bancos {
  display: flex;
  flex-direction: column;
  margin-left: 40%;
  margin-top: 3%;
  border: 2px solid #ffffff;
  border-radius: 5px;
  text-align: center;
  width: 300px;
  margin: 0 auto;
}

/* nubank */
.div-banco-1 {
  color: #fff;
  flex-direction: column;
  font-family: monospace;
  margin-top: 1%;
}

/* mercado pago */
.div-banco-2 {
  color: #fff;
  flex-direction: column;
  font-family: monospace;
  margin-top: 1%;
}

/* santander */
.div-banco-3 {
  color: #fff;
  flex-direction: column;
  font-family: monospace;
  margin-top: 1%;
}

/* criei pra poder centralizar com "margin-top" */
.texto-banco {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* texto que incentiva a pessoa a selecionar um banco */
.p-seleçao-banco {
  font-family: monospace;
  color: #00ff00;
}

/* definições da div que tem o texto da barra final */
.barra-final {
  background-color: #9aa19a1c;
  padding: 10px;
  box-sizing: border-box;
  font-family: monospace;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  margin-top: 180px;
}

/* define a cor do texto da barra final */
.texto-barra-final-1 {
  color: #fff;
}

/* define a cor do texto da barra final */
.texto-barra-final-2 {
  color: #fff;
}
